#main
{
width:900px;
height:700px;
//background-color:#996633;
background-image:url(images.jpeg);
background-repeat:no-repeat;
//background-attachment:fixed;
margin:auto;
}
#row1
{
width:833px;
height:110px;
//background-image:url('1956896_10152300917586416_1483368448_o.jpg');

padding-top:40px;
padding-left:60px;
}
#welcome{
width:400px;
height:80px;
//background-color:#9966FF;
color:#FFFFFF;
//background-color:#CC0000;
font-size:54px;
font-family:"Monotype Corsiva";
float:left;}
#logout{
height:80px;
width:100px;
//background-color:#993300;

float:left;
margin-left:300px;
padding-top:20px;

}
#logout a{
color:#FFFFFF;
//background-color:#CC0000;
font-size:34px;
font-family:"Monotype Corsiva";
text-decoration:none;}

#row2
{
width:900px;
height:350px;
}
#col11
{
width:250px;
height:350px;
//background-color:#FFFFFF;
float:left;
}

#menu{
width:250px;
height:320px;
//background-color:#000000;
margin-top:50px;
}

.b1
{
width:140px;
height:25px;
background-color:#909090;
margin-left:30px;
margin-top:20px;
border-radius:5px 5px 5px 5px;
padding-top:5px;
padding-left:30px;

}
.b1 a:hover
{
color:#FFCC66;
}
.b1 a{
text-decoration:none;
color:#FFFFFF;
font-size:15px;}
#col12
{
width:550px;
height:400px;
background-color:#FFFFFF;
margin-top:20px;
float:left;
}
#col12 #c1
{
width:550px;
height:160px;
//background-color:#99CC66;
//margin-top:20px;
float:left;
}
#col12 #c2
{
width:550px;
height:160px;
//background-color:#CCCC99;
//margin-top:20px;
float:left;
}
#col12 #c3
{
width:50px;
height:20px;
//background-color:#FF3399;
//margin-top:20px;
float:left;
font-family:Calibri;
font-size:14px;
margin-left:480px;
margin-top:10px;
}
.c{
height:140px;
width:170px;
margin-left:10px;
margin-top:10px;
background-color:#993399;
float:left;


}
.c11
{
height:120px;
width:170px;
background-color:#CCCCCC;
float:left;
}
.c22
{
height:20px;
width:170px;
background-color:#E6E6E6;
float:left;
font-family:Calibri;
font-size:18px;
}
.h1
{
height:20px;
width:100px;
//background-color:#3399CC;
float:left;
}
.h2
{
height:20px;
width:50px;
//background-color:#3399CC;
//margin-left:5px;
float:left;
}
.h3
{
height:20px;
width:20px;
//background-color:#3366FF;
//margin-left:5px;
float:left;
}
a{
text-decoration:none;
color:#000000;
font-size:14px;
font-family:Calibri;}
a:hover{
color:#408080;}

